<div class="h-[100lvh] max-w-[480px] right-0 inline-block w-full overflow-auto bg-white text-left align-middle shadow-xl transition-all">
  <div class="sticky top-0 justify-between bg-white py-2 px-4 shadow">
    <h3 class=" mr-6 block justify-start py-3 pr-2 text-[18px] font-bold leading-6 text-gray-700" id="headlessui-dialog-title-:r3i:">Certified Quality &amp; Packaging</h3>
    <button type="button" class="btn-close absolute right-6 top-[50%] -translate-y-1/2 justify-end opacity-100 md:h-3 md:w-3" aria-label="Close" tabindex="0"></button>
  </div>
  <div class="flex flex-col bg-white p-4 pb-[5rem] pt-4 text-[14px]">
    <div class="w-full px-2 pt-4 font-semibold">Refurbished Tech That is Certified &amp; Affordable</div>
    <div class="w-full px-2 pt-2">At Reebelo, you will always find high-quality, certified refurbished electronics tested by our expert refurbishing partners. These pre-owned products are professionally cleaned and inspected. Refurbished with Reebelo guarantees buyer satisfaction, battery health, and reduced negative impact on the environment.</div>
    <div class="w-full px-2 pt-4 font-semibold">What's included in the box?</div>
    <div class="w-full px-2 pt-2">
      <ul class="ml-4 list-disc">
        <li>Professionally refurbished smartphone</li>
        <li>Certified charging cable</li>
      </ul>
    </div>
    <div class="w-full px-2 pt-4 font-semibold ">What to look for in a pre-owned smartphone?</div>
    <div class="w-full px-2 pt-2">Originality &amp; Quality. All pre-owned smartphones at Reebelo are guaranteed original. They’re 100% functional and undergo rigorous 70+ quality checks before shipping.</div>
    <div class="w-full px-2 pt-4 font-semibold ">What are the carbon footprint savings of a used smartphone?</div>
    <div class="w-full px-2 pt-2">You save 70% of the carbon footprint of a new device by buying used and certified preowned. And we give back to the environment by planting a tree for every purchase made.</div>
  </div>
</div>