<div class="max-h-[100lvh] max-w-[480px] right-0 inline-block h-full w-full overflow-auto bg-white text-left align-middle shadow-xl transition-all">
  <div class="sticky top-0 bg-white p-4">
    <h3 class="hidden py-4 text-lg font-bold leading-6 text-gray-700 sm:block" id="headlessui-dialog-title-:r3e:">Specifications</h3>
    <h1 class="w-3/4 text-lg font-bold leading-6 text-gray-700 sm:hidden" id="e2e-product-name">iPhone 11 - AT&amp;T</h1>
    <p class="w-3/4 text-xs text-gray-700 sm:hidden">64GB | Black | Acceptable</p>
    <button type="button" class="btn-close absolute right-6 top-[50%] -translate-y-1/2 opacity-100 md:h-3 md:w-3" aria-label="Close" tabindex="0"></button>
  </div>
  <div class="flex flex-col bg-white pb-[5rem]">
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>M <span class="bg-yellow"></span>o <span class="bg-yellow"></span>d <span class="bg-yellow"></span>e <span class="bg-yellow"></span>l <span class="bg-yellow"></span>
        <span class="bg-yellow"></span>N <span class="bg-yellow"></span>a <span class="bg-yellow"></span>m <span class="bg-yellow"></span>e <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">iPhone 11</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>D <span class="bg-yellow"></span>i <span class="bg-yellow"></span>m <span class="bg-yellow"></span>e <span class="bg-yellow"></span>n <span class="bg-yellow"></span>s <span class="bg-yellow"></span>i <span class="bg-yellow"></span>o <span class="bg-yellow"></span>n <span class="bg-yellow"></span>s <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">150.9 x 75.7 x 8.3 mm (5.94 x 2.98 x 0.33 in)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>W <span class="bg-yellow"></span>e <span class="bg-yellow"></span>i <span class="bg-yellow"></span>g <span class="bg-yellow"></span>h <span class="bg-yellow"></span>t <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">194 g (6.84 oz)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>B <span class="bg-yellow"></span>u <span class="bg-yellow"></span>i <span class="bg-yellow"></span>l <span class="bg-yellow"></span>d <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Glass front (Gorilla Glass), glass back (Gorilla Glass), aluminum frame (7000 series)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>S <span class="bg-yellow"></span>I <span class="bg-yellow"></span>M <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Single SIM (Nano-SIM and/or eSIM) or Dual SIM (Nano-SIM, dual stand-by) - for China | Apple Pay (Visa, MasterCard, AMEX certified)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>D <span class="bg-yellow"></span>i <span class="bg-yellow"></span>s <span class="bg-yellow"></span>p <span class="bg-yellow"></span>l <span class="bg-yellow"></span>a <span class="bg-yellow"></span>y <span class="bg-yellow"></span>
        <span class="bg-yellow"></span>T <span class="bg-yellow"></span>y <span class="bg-yellow"></span>p <span class="bg-yellow"></span>e <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Liquid Retina IPS LCD, 625 nits (typ)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>D <span class="bg-yellow"></span>i <span class="bg-yellow"></span>s <span class="bg-yellow"></span>p <span class="bg-yellow"></span>l <span class="bg-yellow"></span>a <span class="bg-yellow"></span>y <span class="bg-yellow"></span>
        <span class="bg-yellow"></span>S <span class="bg-yellow"></span>i <span class="bg-yellow"></span>z <span class="bg-yellow"></span>e <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">6.1 inches, 90.3 cm2 (~79.0% screen-to-body ratio)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>R <span class="bg-yellow"></span>e <span class="bg-yellow"></span>s <span class="bg-yellow"></span>o <span class="bg-yellow"></span>l <span class="bg-yellow"></span>u <span class="bg-yellow"></span>t <span class="bg-yellow"></span>i <span class="bg-yellow"></span>o <span class="bg-yellow"></span>n <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">828 x 1792 pixels, 19.5:9 ratio (~326 ppi density)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>P <span class="bg-yellow"></span>r <span class="bg-yellow"></span>o <span class="bg-yellow"></span>t <span class="bg-yellow"></span>e <span class="bg-yellow"></span>c <span class="bg-yellow"></span>t <span class="bg-yellow"></span>i <span class="bg-yellow"></span>o <span class="bg-yellow"></span>n <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Scratch-resistant glass</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>C <span class="bg-yellow"></span>h <span class="bg-yellow"></span>i <span class="bg-yellow"></span>p <span class="bg-yellow"></span>s <span class="bg-yellow"></span>e <span class="bg-yellow"></span>t <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Apple A13 Bionic (7 nm+)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>C <span class="bg-yellow"></span>P <span class="bg-yellow"></span>U <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Hexa-core (2x2.65 GHz Lightning + 4x1.8 GHz Thunder)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>G <span class="bg-yellow"></span>P <span class="bg-yellow"></span>U <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Apple GPU (4-core graphics)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>C <span class="bg-yellow"></span>a <span class="bg-yellow"></span>r <span class="bg-yellow"></span>d <span class="bg-yellow"></span>
        <span class="bg-yellow"></span>s <span class="bg-yellow"></span>l <span class="bg-yellow"></span>o <span class="bg-yellow"></span>t <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">No</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>I <span class="bg-yellow"></span>n <span class="bg-yellow"></span>t <span class="bg-yellow"></span>e <span class="bg-yellow"></span>r <span class="bg-yellow"></span>n <span class="bg-yellow"></span>a <span class="bg-yellow"></span>l <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">64GB 4GB RAM, 128GB 4GB RAM, 256GB 4GB RAM | NVMe</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>M <span class="bg-yellow"></span>a <span class="bg-yellow"></span>i <span class="bg-yellow"></span>n <span class="bg-yellow"></span>
        <span class="bg-yellow"></span>C <span class="bg-yellow"></span>a <span class="bg-yellow"></span>m <span class="bg-yellow"></span>e <span class="bg-yellow"></span>r <span class="bg-yellow"></span>a <span class="bg-yellow"></span>
        <span class="bg-yellow"></span>( <span class="bg-yellow"></span>D <span class="bg-yellow"></span>u <span class="bg-yellow"></span>a <span class="bg-yellow"></span>l <span class="bg-yellow"></span>) <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">12 MP, f/1.8, 26mm (wide), 1/2.55", 1.4µm, dual pixel PDAF, OIS | 12 MP, f/2.4, 120˚, 13mm (ultrawide), 1/3.6"</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>F <span class="bg-yellow"></span>e <span class="bg-yellow"></span>a <span class="bg-yellow"></span>t <span class="bg-yellow"></span>u <span class="bg-yellow"></span>r <span class="bg-yellow"></span>e <span class="bg-yellow"></span>s <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Dual-LED dual-tone flash, HDR (photo/panorama)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>V <span class="bg-yellow"></span>i <span class="bg-yellow"></span>d <span class="bg-yellow"></span>e <span class="bg-yellow"></span>o <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">4K@24/30/60fps, 1080p@30/60/120/240fps, HDR, stereo sound rec.</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>S <span class="bg-yellow"></span>e <span class="bg-yellow"></span>l <span class="bg-yellow"></span>f <span class="bg-yellow"></span>i <span class="bg-yellow"></span>e <span class="bg-yellow"></span>
        <span class="bg-yellow"></span>C <span class="bg-yellow"></span>a <span class="bg-yellow"></span>m <span class="bg-yellow"></span>e <span class="bg-yellow"></span>r <span class="bg-yellow"></span>a <span class="bg-yellow"></span>
        <span class="bg-yellow"></span>( <span class="bg-yellow"></span>S <span class="bg-yellow"></span>i <span class="bg-yellow"></span>n <span class="bg-yellow"></span>g <span class="bg-yellow"></span>l <span class="bg-yellow"></span>e <span class="bg-yellow"></span>) <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">12 MP, f/2.2, 23mm (wide), 1/3.6" | SL 3D, (depth/biometrics sensor)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>F <span class="bg-yellow"></span>e <span class="bg-yellow"></span>a <span class="bg-yellow"></span>t <span class="bg-yellow"></span>u <span class="bg-yellow"></span>r <span class="bg-yellow"></span>e <span class="bg-yellow"></span>s <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">HDR</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>V <span class="bg-yellow"></span>i <span class="bg-yellow"></span>d <span class="bg-yellow"></span>e <span class="bg-yellow"></span>o <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">4K@24/30/60fps, 1080p@30/60/120fps, gyro-EIS</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>L <span class="bg-yellow"></span>o <span class="bg-yellow"></span>u <span class="bg-yellow"></span>d <span class="bg-yellow"></span>s <span class="bg-yellow"></span>p <span class="bg-yellow"></span>e <span class="bg-yellow"></span>a <span class="bg-yellow"></span>k <span class="bg-yellow"></span>e <span class="bg-yellow"></span>r <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Yes, with stereo speakers</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>3 <span class="bg-yellow"></span>. <span class="bg-yellow"></span>5 <span class="bg-yellow"></span>m <span class="bg-yellow"></span>m <span class="bg-yellow"></span>
        <span class="bg-yellow"></span>j <span class="bg-yellow"></span>a <span class="bg-yellow"></span>c <span class="bg-yellow"></span>k <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">No</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>W <span class="bg-yellow"></span>L <span class="bg-yellow"></span>A <span class="bg-yellow"></span>N <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, hotspot</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>B <span class="bg-yellow"></span>l <span class="bg-yellow"></span>u <span class="bg-yellow"></span>e <span class="bg-yellow"></span>t <span class="bg-yellow"></span>o <span class="bg-yellow"></span>o <span class="bg-yellow"></span>t <span class="bg-yellow"></span>h <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">5.0, A2DP, LE</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>P <span class="bg-yellow"></span>o <span class="bg-yellow"></span>s <span class="bg-yellow"></span>i <span class="bg-yellow"></span>t <span class="bg-yellow"></span>i <span class="bg-yellow"></span>o <span class="bg-yellow"></span>n <span class="bg-yellow"></span>i <span class="bg-yellow"></span>n <span class="bg-yellow"></span>g <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">GPS, GLONASS, GALILEO, QZSS</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>N <span class="bg-yellow"></span>F <span class="bg-yellow"></span>C <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Yes</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>R <span class="bg-yellow"></span>a <span class="bg-yellow"></span>d <span class="bg-yellow"></span>i <span class="bg-yellow"></span>o <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">No</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>U <span class="bg-yellow"></span>S <span class="bg-yellow"></span>B <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Lightning, USB 2.0</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>S <span class="bg-yellow"></span>e <span class="bg-yellow"></span>n <span class="bg-yellow"></span>s <span class="bg-yellow"></span>o <span class="bg-yellow"></span>r <span class="bg-yellow"></span>s <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Face ID, accelerometer, gyro, proximity, compass, barometer | Ultra Wideband (UWB) support</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>B <span class="bg-yellow"></span>a <span class="bg-yellow"></span>t <span class="bg-yellow"></span>t <span class="bg-yellow"></span>e <span class="bg-yellow"></span>r <span class="bg-yellow"></span>y <span class="bg-yellow"></span>
        <span class="bg-yellow"></span>T <span class="bg-yellow"></span>y <span class="bg-yellow"></span>p <span class="bg-yellow"></span>e <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Li-Ion 3110 mAh, non-removable (11.91 Wh)</p>
    </div>
    <div class="flex flex-col border-t-2 p-2 text-sm even:bg-[#F2F2F2]">
      <h3 class="w-full px-2 pt-2 font-semibold ">
        <span class="bg-yellow"></span>C <span class="bg-yellow"></span>h <span class="bg-yellow"></span>a <span class="bg-yellow"></span>r <span class="bg-yellow"></span>g <span class="bg-yellow"></span>i <span class="bg-yellow"></span>n <span class="bg-yellow"></span>g <span class="bg-yellow"></span>
      </h3>
      <p class="flex-1 px-2 pb-2 md:p-2">Wired, PD2.0, 50% in 30 min (advertised) | Wireless (Qi)</p>
    </div>
  </div>
</div>
<div class="max-w-[480px] font-['Lato'] fixed bottom-0 z-50 mt-4 flex w-full items-center gap-3 border-t border-gray-500 bg-white px-5 pb-4 pt-2.5 shadow-[0_-4px_9px_rgba(0,0,0,0.05)] sm:right-0" id="purchaseCont">
  <div class="flex w-1/2 flex-col items-start">
    <p class="block text-base font-bold text-gray-700 xs:text-xl" id="e2e-product-price">
      ${{ product.price | money_without_currency }}
    </p>
    <div class="flex items-end gap-x-1">
      {% if product.compare_at_price > product.price %}
        <div class="order-last flex">
          <span class="pr-1 text-xs text-slate-gray-300">new</span>
          <span class="text-slate-gray-300 line-through text-xs">${{ product.compare_at_price | money_without_currency }}</span>
        </div>
        <div class="rounded bg-[#ef686a]">
          {% assign discount = product.compare_at_price | minus: product.price %}
          {% assign discount_percentage = discount | times: 100.0 | divided_by: product.compare_at_price %}
          <span class="flex items-center justify-center min-w-[55px] px-1.5 py-1 text-center font-bold text-[10px] text-white ">{{ discount_percentage | round }}% OFF</span>
        </div>
      {% endif %}
    </div>
  </div>
  
  <div class="w-1/2">
    <div class="grid w-full grid-cols-1 gap-1.5 py-0.5">
      <button onClick="document.querySelector('.product-form__submit').click(); document.querySelector('.btn-close').click(); " id="e2e-add-to-cart" data-product-id="7371937743031" data-variant-id="41938653348023" class="bg-black min-h-[50px] font-bold rounded-md text-sm sm:text-base r-font-bold r-p-0 r-h-11 xxs:r-h-auto r-text-sm xxs:r-text-base xxs:r-p-3 r-my-1 r-rounded-md r-duration-200 r-ease-in-out hover:r-opacity-90 disabled:r-opacity-70 hover:r-shadow-lg r-text-white r-bg-gray-700 text-white">Add to Cart</button>
    </div>
  </div>
</div>