<div class="max-h-[100lvh] max-w-[480px] right-0 inline-block h-full w-full overflow-auto custom-sidepopup bg-[#f4f4f4] text-left align-middle shadow-xl transition-all px-6">
  <svg onClick="closePopup();" class="popup-close cursor-pointer" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.3029 12.7993L9.0391 7.53553L14.3029 2.27171C14.714 1.86063 14.714 1.17884 14.3029 0.767765C13.8918 0.356686 13.2101 0.356686 12.799 0.767765L7.53516 6.03158L2.27134 0.767765C1.86026 0.356686 1.17847 0.356686 0.767391 0.767765C0.356312 1.17884 0.356313 1.86063 0.767392 2.27171L6.03121 7.53553L0.767391 12.7993C0.356312 13.2104 0.356312 13.8922 0.767391 14.3033C1.17847 14.7144 1.86026 14.7144 2.27134 14.3033L7.53516 9.03948L12.799 14.3033C13.2101 14.7144 13.8918 14.7144 14.3029 14.3033C14.714 13.8922 14.714 13.2104 14.3029 12.7993Z" fill="#292D32"/>
  </svg>  
  <h2 class="text-black text-xl font-bold my-4 mt-8 text-center">Specifications</h2>
  <div class="bg-white rounded-[12px] p-4">
    {{ product.description }}
  </div>
</div>