@tailwind base;
@tailwind components;
@tailwind utilities;

[type='reset'],
[type='submit']{
  background-color: black;
}

svg.icon-cart-empty.icon{
  width: 2.2rem;
  height: 2.2rem;
}

.header__icon{
  background-color: #f4f4f4;
  border-radius: 50%;
}

.header__icons{
  gap: 12px;
}

@media screen and (min-width: 990px){
  .header__inline-menu{
    margin: 0 100px !important;
  }
  .header .list-menu{
    gap: 22px;
  }
}

@media screen and (max-width: 990px){
  .header__icon, .header__icon--cart .icon{
    height: 4rem;
    width: 4rem;
    min-width: 4rem;
  }

  .header__icons{
    justify-content: space-around;
  }

  .header__icon--menu{
    background-color: transparent;
  }
}

.header__menu-item{
  color: #000;
}

form.search div::after{
  display: none !important;
}

.header__icons{
  width: 100%;
}

.desktop-localization-wrapper{
  display: none !important;
}

.search .field__label{
  left: calc(var(--inputs-border-width) + 5rem);
}

.search .field__input:focus ~ .field__label, .search .field__input:not(:placeholder-shown) ~ .field__label{
  display: none !important;
}

.predictive-search--header{
  padding-top: 1rem;
}

#icon-search{
  width: 2rem;
  height: 2rem;
}

#MainContent{
  height: 45vh;
}