@tailwind base;
@tailwind components;
@tailwind utilities;

[type='reset'],
[type='submit']{
  background-color: black;
}

svg.icon-cart-empty.icon{
  width: 2.2rem;
  height: 2.2rem;
}

.header__icon{
  background-color: #f4f4f4;
  border-radius: 50%;
}

.header__icons{
  gap: 12px;
}

@media screen and (min-width: 990px){
  .header__inline-menu{
    margin: 0 100px !important;
  }
  .header .list-menu{
    gap: 22px;
  }
}

@media screen and (max-width: 990px){
  .product-media-container{
    background-color: transparent;
  }
  .header__icon, .header__icon--cart .icon{
    height: 4rem;
    width: 4rem;
    min-width: 4rem;
  }

  .header__icons{
    justify-content: space-around;
  }

  .header__icon--menu{
    background-color: transparent;
  }
  .sale-badge-thing{
    display: none;
  }
  .media > img{
    object-fit: contain;
  }
  .thumbnail{
    border-radius: 6px;
    padding: 5px !important;
    background-color: white !important;
  }
}

.header__menu-item{
  color: #000;
}

form.search div::after{
  display: none !important;
}

.header__icons{
  width: 100%;
}

.desktop-localization-wrapper{
  display: none !important;
}

.search .field__label{
  left: calc(var(--inputs-border-width) + 5rem);
}

.search .field__input:focus ~ .field__label, .search .field__input:not(:placeholder-shown) ~ .field__label{
  display: none !important;
}

.predictive-search--header{
  padding-top: 1rem;
}

#icon-search{
  width: 2rem;
  height: 2rem;
}

.shopify-section-group-header-group{
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.06);
}

@media only screen and (min-width: 770px){
  .product--thumbnail_slider .product__media-wrapper media-gallery {
      display: flex !important;
      flex-direction: row-reverse !important;
      flex-wrap: wrap !important;
      align-items: center !important;
      justify-content: start !important;
      gap: 25px;
  }
  .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    width: 100% !important;
  }
  .slider-mobile-gutter:not(.thumbnail-slider){
    flex: 1;
    max-width: 400px;
  }

  .thumbnail-slider{
    flex-basis: 85px;
  }

  .thumbnail{
    border-radius: 6px;
    padding: 5px !important;
    background-color: white !important;
  }

  main .thumbnail-slider .thumbnail-list.slider{
    display: flex;
    flex-direction: column;
    max-width: 70px;
  }

  .slider-button{
    display: none !important;
  }
  .product__info-container{
    padding: 26px 34px;
    background-color: white;
    border-radius: 12px;
    display: block;
    position: relative;
  }

  .product__media-wrapper media-gallery{
    background-color: white;
    border-radius: 12px;
    padding: 64px 32px 40px 32px;
  }
  
  .slider-mobile-gutter{
    max-width: 320px !important;
  }
  
  .product__media.media img{
    top: 50% !important;
    transform: translateY(-50%) !important;
    max-height: 320px;
    object-fit: contain;
  }
  
  .product__media-wrapper media-gallery{
    position: relative;
  }
  
  .product__media-wrapper media-gallery::before{
    content: '';
    top: -8px;
    width: 150px;
    height: 51px;
    background: url('https://cdn.shopify.com/s/files/1/0859/6933/8652/files/Badge_1.png?v=1709681933');
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
  }
  .Color-fieldset label, .Condition-fieldset label{
    width: 180px !important;
  }

  .product-form__input--pill input[type='radio'] + label{
    width: 130px;
    padding: 16px 0 !important;
  }
}

.product__title h1{
  font-size: 28px;
  font-weight: bold;
  max-width: 440px;
}

.product-form__input legend{
  font-size: 16px;
  font-weight: bold;
  color: #000;
}



variant-selects{
  margin-top: 30px !important;
}

.shopify-payment-button{
  display: none !important
}

.product-form__submit{
  width: 100%;
  color: white;
  border-radius: 12px;
}

.color-blob{
  width: 20px;
  height: 20px;
  border-radius: 50%;

}

label:has(.color-blob){
  display: inline-flex !important;
  align-items: center;
  gap: 10px;
  justify-content: center;
}


.color-blob-space-gray{
  background-color: #5a5a5a;
}

.color-blob-silver{
  background-color: #d9d9d9;
}

.color-blob-gold{
  background-color: #e3b18a;
}

.color-blob-midnight-green{
  background-color: #004b54;
}

.sale-badge-thing{
  position: absolute;
  right: 40px;
  top: -30px;
}


.basicLightbox{
  justify-content: end !important;
  background-color: rgba(31,35,35,.3) !important;
}

.btn-close {
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat!important;
  border: 0!important;
  border-radius: 0.25rem!important;
  box-sizing: content-box!important;
  color: #000!important;
  height: 1em!important;
  opacity: 1!important;
  padding: 0.25em!important;
  width: 1em!important;
}


.fixed-sidebar {
  transform: translateY(0) !important;
  transition: transform 0.3s ease-in-out;
}

.fixed-sidebar.collapsed{
  transform: translateY(100%) !important;
}

.custom-icon-plus, .custom-icon-minus{
  position: absolute;
    right: 1.5rem;
    top: calc(50% - 0.5rem);
}

.custom-icon-minus{
  display: none;
}

[open] .custom-icon-plus{
  display: none;
}

[open] .custom-icon-minus{
  display: block;
}

.facet-checkbox__text{
  color: black;
  font-weight: 500;
}

.facets-layout-list{
  max-height: 300px;
  overflow: auto;
}

/* Firefox */
.facets-layout-list {
  scrollbar-width: thin;
  scrollbar-color: #000000 #EEEEEE;
}

/* Chrome, Edge and Safari */
.facets-layout-list::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
.facets-layout-list::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #EEEEEE;
}

.facets-layout-list::-webkit-scrollbar-track:hover {
  background-color: #EEEEEE;
}

.facets-layout-list::-webkit-scrollbar-track:active {
  background-color: #EEEEEE;
}

.facets-layout-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000000;
}

.facets-layout-list::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

.facets-layout-list::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}


.facets-vertical .active-facets .active-facets-vertical-filter:only-child > h2{
  display: none;
}

.facets-vertical-form{
  margin-bottom: 4rem;
}

.custom-collection-product-grid > div{
  background-color: #f5f5f5;
}

.custom-product-card{
  background-color: #fff;
  padding: 12px 10px;
  border-radius: 12px;
}